In [1]:
import pandas as pd
import numpy as np

In [2]:
dt = pd.read_csv('stud.csv')

In [3]:
dt.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
dt.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [7]:
dt['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [8]:
dt['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [9]:
dt['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [10]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
dt['lunch'].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [12]:
dt['test preparation course'].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [13]:
dt.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [20]:
dt.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [16]:
k ={'a':2,'b':10}

In [18]:
k.values()

dict_values([2, 10])

In [19]:
list(k)

['a', 'b']

In [ ]:
@app.route('/predict', methods=['GET', 'POST'])
def predict():
    if request.method == 'GET':
        return render_template('home.html')
    else:
        try:
            gender = request.form.get('gender')
            race_ethnicity = request.form.get('race_ethnicity')
            parental_level_of_education = request.form.get('parental_level_of_education')
            lunch = request.form.get('lunch')
            test_preparation_course = request.form.get('test_preparation_course')
            reading_score = request.form.get('reading_score')
            writing_score = request.form.get('writing_score')

            # Debugging statements
            print(f"Gender: {gender}")
            print(f"Race/Ethnicity: {race_ethnicity}")
            print(f"Parental Level of Education: {parental_level_of_education}")
            print(f"Lunch: {lunch}")
            print(f"Test Preparation Course: {test_preparation_course}")
            print(f"Reading Score: {reading_score}")
            print(f"Writing Score: {writing_score}")

            data = New_data(
                gender=gender,
                race_ethnicity=race_ethnicity,
                parental_level_of_education=parental_level_of_education,
                lunch=lunch,
                test_preparation_course=test_preparation_course,
                reading_score=int(reading_score),
                writing_score=int(writing_score)
            )

            pred_df = data.get_as_dataframe()

            pipeline = Predict_pipeline()
            results = pipeline.initiate_predict_pipeline(pred_df)

            return render_template('home.html', results=results[0])
        except ValueError as e:
            return render_template('home.html', error=str(e))

In [ ]:
def predict():
    if request.method=='GET':
        return render_template('home.html')
    else:
        data = New_data(
            gender = request.form.get('gender'),
            race_ethnicity=request.form.get('race_ethnicity'),
            parental_level_of_education=request.form.get('parental_level_of_education'),
            lunch=request.form.get('lunch'),
            test_preparation_course=request.form.get('test_preparation_course'),
            reading_score=int(request.form.get('reading_score')),
            writing_score=int(request.form.get('writing_score')))

        pred_df = data.get_as_dataframe()
        
        pipeline = Predict_pipeline()
        results = pipeline.initiate_predict_pipeline(pred_df)
        
        return render_template('home.html',results=results[0])